*{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body{
	padding: 0px;
	margin: 0px;
	background-color: #fff
	max-width: 100%;
    overflow-x: hidden;
}
h1{
	width: 100%;
	background-color:#f7705a;
	margin-top: 0px;
	padding-bottom: .35em;
	text-align: center;
	border-radius-bottom: 2em;
	box-shadow: 10px 10px 42px -6px rgba(0,0,0,0.51);
}
h4 {
	font-weight: normal;
	text-align: center;
}
input[type=number] {
	border: 2px solid grey;
	border-radius: 3px;
	padding: 5px;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}
input[type=submit] {
	background-color: #3fbd94a6;
    width: 100px;
    height: 37px;
    box-shadow: 0px 3px 0px 0px #5c9683;
    border-radius: 4px;
    border: none;
    transition: background-color 1s;
    outline: none;
    position: relative;
}
input[type=submit]:hover {
    background-color: #5c9683;
    cursor: pointer;
}
/* CLASSES*/
.header{
	text-shadow: 1px 1px #4d8f83, 2px 2px #4d8f83, 3px 3px #4d8f83, 4px 4px #4d8f83;
	color: #a6b58b;
	font-size: 35pt;
}
.container1, .container {
	margin-top: 30px;
	margin-bottom: 30px;
}
.container {
	padding-left: 15%;
}
.Answer {
	border: 6px solid #3fbd94a6;
	padding-right: 30px;
	padding-left: 35px;
	border-radius: 4px;
	width: 200px;
	margin-left: 35%;
}
.Answer1{
	border: 6px solid #3fbd94a6;
	padding-right: 30px;
	padding-left: 35px;
	border-radius: 4px;
	width: 200px;
	margin-left: 45%;
}

.info{
	text-decoration: underline;
}
.Dx-img, .Dy-img, .y-img , .x-img, .n-img{
	width: 40px;
	height: 30px;
}
.button {
	top: -17px;
	margin-left: 5px;
}
.input,.input1 {
	display: inline;
}
.Addition{
	margin-left: 15%;
	margin-bottom: 3%;
	display: inline-block;
}
.button-addition {
	top: -17px;
	left: 30px;
}
.Addition-input-Dx, .Addition-input-Dy{
	display: inline-block;
}
.Dx-add, .Dy-add {
	position: relative;
	top: -10px;
	left: 25px;
}
.Multiplication-img{
	width: 630px;
	height: 70px;
	display: inline-block;
	margin-right: 25px;
}
.Multiplication-input-1, .Multiplication-input-2, .Multiplication-input-3, .Multiplication-input-4{
	display: inline-flex;
	flex-direction: column;
	position: relative;
	top: -30px;
}
.Division-img{
	width: 630px;
	height: 70px;
	display: inline-block;
	margin-right: 25px;
}
.Division-input-1, .Division-input-2, .Division-input-3, .Division-input-4{
	display: inline-flex;
	flex-direction: column;
	position: relative;
	top: -30px;
}
.Power-img{
	width: 630px;
	height: 70px;
	display: inline-block;
	margin-right: 25px;
}
.Power-input-1,.Power-input-2,.Power-input-3{
	display: inline-flex;
	flex-direction: column;
	position: relative;
	top: -30px;
}

@media only screen and (max-width: 630px) {
	.Addition {
		margin-left: 0%;
	}
	.Dx-add, .Dy-add {
		left: 5px;
	}
	.container {
		padding-left: 0%;
	}
	.input {
		display: inline;
	}
	.children {
		position: static;
		margin-left: 2%;
	}
	.button {
		margin-left: 34%;
		margin-top: 30px;
	}
	.button-addition {
		margin-left: 28%;
		margin-top: 25px;
	}
	.Answer, .Answer1{
		margin-left: 23%;
	}
}

@media (min-width: 630px) and (max-width: 1730px) {
	.input {
		display: block;
		margin-top: 25px;
	}
	.input1 {
		display: block;
		margin-left: 13%;
	}
	.Answer1 {
		margin-left: 36%; 
	}
}
@media (min-width: 1200px) and (max-width: 1730px){
	.container {
		margin-left: 14%;
	}
	.container1{
		margin-left: 16%;
	}
}